<!DOCTYPE html>
<html>
	<head>
		<title>Slide To Solve</title>
		<link rel="stylesheet" type="text/css" href="../styles/style.css">
		<script type="text/javascript" src = "../src/app.js"></script>
		<meta charset ="utf-8"/>
	</head>
	<body >
		<h1 id="title">
			Slide to <u><b>WIN</b></u>
		</h1>
		<div id="Final_Result">
			
		</div>
		<div class="block1">
			<div class="block2" >
				<div class="block3" id="1" onclick="On_Click(event,1)">
					
				</div>
				<div class="block3" id="2" onclick="On_Click(event,2)">
					
				</div>
				<div class="block3" id="3" onclick="On_Click(event,3)">
					
				</div>
			</div>
			<div class="block2">
				<div class="block3" id="4" onclick="On_Click(event,4)">
					
				</div>
				<div class="block3" id="5" onclick="On_Click(event,5)">
					
				</div>
				<div class="block3" id="6" onclick="On_Click(event,6)">
					
				</div>
			</div>
			<div class="block2">
				<div class="block3" id="7" onclick="On_Click(event,7)">
					
				</div>
				<div class="block3" id="8" onclick="On_Click(event,8)">
					
				</div>
				<div class="block3" id="9" onclick="On_Click(event,9)">
						
				</div>
			</div>
		</div>
	</body>
</html>